@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);

body {
	font-family: "Playfair Display", "serif";
}

ul a {
	color: #3D3D3D;
}

a:link img {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* Header stylings */
h1 {
	text-align: center;
	font-family: "Josefin Sans", "Helvetica", "sans-serif";
}

h2 {
	font-family: "Josefin Sans", "Helvetica", "sans-serif";
	font-weight: 700
}

/* Home page styling */
#homepage {
	text-align: center;
}

.img-circle {
    border-radius: 50%;
    width: 12.5em;
}

/* Artwork page styling */
#artThumbs {
	width: 100%;
}

/* Webwork Styling */
#projectDisplay {
	margin: 1em;
}

#webThumbs {
	width: 100%;
}

/* Navigation Bar */

nav.navbar-default {
	background-color: #FFE01B;
	font-family: "Josefin Sans", "serif";
	font-weight: 700;
}

nav ul{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

nav ul a {
	margin-left: 15px;
	font-size: 16px;
	padding: 0.5em;
}

ul a:active {
	color: white;
	text-decoration: underline;
}

ul a:hover {
	color: white;
	text-decoration: underline;
}

#nameLogo {
	float: right;
	padding-right: 5em;
}

/* For screens larger than 768px wide */
@media screen and (min-width: 768px) {
	#artThumbs {
		width: 100%;
	}
}